<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label for="title">Website name</label>
                <input type="text" value="{{g_webName}}" name="webName" class="form-control" id="title" placeholder="Enter website name">
            </div>

            <div class="form-group">
                <label for="title">Contact email</label>
                <input type="text" value="{{g_contactEmail}}" name="contactEmail" class="form-control" id="title" placeholder="Enter email">
                <small id="fileHelp" class="form-text text-muted">
                    Entered email will be displayed on password reset page
                </small>
            </div>

            <div class="form-group">
                <label for="notification">System notification</label>
                <input type="text" value="{{g_notification}}" name="notification" class="form-control" id="notification"
                       placeholder="System notification">
                <small id="fileHelp" class="form-text text-muted">
                    All website visitors will see this message
                </small>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
