<div>
    <footer class="sticky-footer">
        <div class="container">
            <div class="text-center">
                <small>Copyright © 2017</small>
            </div>
        </div>
    </footer>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/sb-admin.min.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="/js/d3.min.js"></script>
    <script type="text/javascript" src="/js/cal-heatmap.min.js"></script>
    <script>
        $("#dataTable*").each(function () {
            $(this).DataTable();
        });
    </script>
</div>
