<div class="card">
    <div class="card-body">
        <h3 class="card-title">Create a guest user</h3>
        <form method="post">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <b>Note</b>
                        <ul>
                            <li>A guest account is temporary and can be deleted at anytime by the administrators</li>
                            <li>If a guest account is deleted it will not show on the learderboard</li>
                            <li>If a guest account is deleted it cannot be recovered</li>
                        </ul>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn btn-primary" value="Agree and Continue">
        </form>
    </div>
</div>
