<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th width="100">Rank</th>
                    <th>Username</th>
                    <th width="200">Score</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>first_user</td>
                    <td>121</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>second_user</td>
                    <td>151</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
