<div class="card mb-3">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th width="100">ID</th>
                    <th>Username</th>
                    <th width="100"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>first_user</td>
                    <td><a href="/user/profile/1">view</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>second_user</td>
                    <td><a href="/user/profile/2">view</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
