<div class="card mb-3">
    <div class="card-body">
        <h3 class="card-title">
            {{user.username}}
            {{#if user.fullname}}
                <em style="color: #aaa">({{user.fullname}})</em>
            {{/if}}
        </h3>

        <div class="row">
            {{# equals me.uid user.uid}}
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fa fa-fw fa-user"></i>
                            </div>
                            <div class="mr-5">Profile information</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/user/edit/{{user.uid}}">
                            <span class="float-left">Edit profile</span>
                            <span class="float-right">
                    <i class="fa fa-angle-right"></i>
                  </span>
                        </a>
                    </div>
                </div>
            {{/equals}}

            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white bg-info o-hidden h-100">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa fa-fw fa-trophy"></i>
                        </div>
                        <div class="mr-5">Total of <b>151 points</b> <br/> Rank: #1234</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="/user/leaderboard">
                        <span class="float-left">View global leaderboard</span>
                        <span class="float-right">
                <i class="fa fa-angle-right"></i>
              </span>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-12 row">
            <div id="cal-heatmap"></div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-12">
                <h3 class="card-title">Activities</h3>
                <ul class="list-group">
                    <li class="list-group-item"><b>John</b> solved question #10 <span class="float-right small">10:50</span></li>
                    <li class="list-group-item"><b>John</b> submitted question #10 <span class="float-right small">10:30</span></li>
                    <li class="list-group-item"><b>John</b> submitted question #10 <span class="float-right small">1 day ago</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>

