<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-body">
            <div class="text-center mt-4 mb-5">
                <h4>Forgot your password?</h4>
            </div>
            <form>
                <div align="center">
                    {{# if g_contactEmail}}
                        <div class="col-12">
                            Please contact:
                        </div>
                        <div class="col-12">
                            <b>{{g_contactEmail}}</b>
                        </div>
                    {{else}}
                        No admin contact information has been found
                    {{/if}}
                </div>
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/user/register">Register an Account</a>
                <a class="d-block small" href="/user/login">Login Page</a>
            </div>
        </div>
    </div>
</div>