<div class="card">
    <div class="card-body">
        <h3 class="card-title">{{question.qid}} - {{question.title}}</h3>
        <div class="row">
            <div class="col-12">
                {{{question.description}}}
            </div>
        </div>

        <form style="padding-top: 50px">
            <h4>Code:</h4>
            <div class="form-group">
                <div class="form-group">
                    <textarea class="form-control" id="description" rows="10"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Batch test</button>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
</div>
