<div class="card">
    <div class="card-body">
        <h3 class="card-title">1 - Question title</h3>
        <div class="row">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque dolorum ducimus
            expedita id incidunt inventore laboriosam libero magni maxime nostrum provident quia quod,
            ratione repellendus repudiandae totam? Nesciunt, ullam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque dolorum ducimus
            expedita id incidunt inventore laboriosam libero magni maxime nostrum provident quia quod,
            ratione repellendus repudiandae totam? Nesciunt, ullam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque dolorum ducimus
            expedita id incidunt inventore laboriosam libero magni maxime nostrum provident quia quod,
            ratione repellendus repudiandae totam? Nesciunt, ullam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque dolorum ducimus
            expedita id incidunt inventore laboriosam libero magni maxime nostrum provident quia quod,
            ratione repellendus repudiandae totam? Nesciunt, ullam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque dolorum ducimus
            expedita id incidunt inventore laboriosam libero magni maxime nostrum provident quia quod,
            ratione repellendus repudiandae totam? Nesciunt, ullam.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque doloremque dolorum ducimus
            expedita id incidunt inventore laboriosam libero magni maxime nostrum provident quia quod,
            ratione repellendus repudiandae totam? Nesciunt, ullam.
        </div>

        <form style="padding-top: 50px">
            <h4>Code:</h4>
            <div class="form-group">
                <div class="form-group">
                    <textarea class="form-control" id="description" rows="10"></textarea>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Batch test</button>
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div>
</div>
