<div class="card">
    <div class="card-body">
        <h2 class="card-title">Latest activities</h2>
        <div class="row" style="margin-top: 20px">
            <div class="col-12">
                <ul class="list-group">
                    {{# each activities}}
                        <li class="list-group-item">{{{this}}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
