{{# if errors }}
    <div class="alert alert-danger" role="alert">
        {{# each errors }}
            <div class="col-12">{{ this }}</div>
        {{/each}}
    </div>
{{/if}}
<div class="card">
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label for="title">Event Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="Enter event title">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control ckeditor" id="description" placeholder="Enter event description">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="startAt" class="col-md-12 control-label">Start at</label>
                        <div class="input-group date form_datetime col-md-8" data-date-format="dd MM yyyy - HH:ii p" data-link-field="startAt">
                            <input class="form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <input type="hidden" id="startAt" value="" /><br/>
                    </div>
                    <div class="col-6">
                        <label for="endAt" class="col-md-12 control-label">Start at</label>
                        <div class="input-group date form_datetime col-md-8" data-date-format="dd MM yyyy - HH:ii p" data-link-field="endAt">
                            <input class="form-control" size="16" type="text" value="" readonly>
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                        <input type="hidden" id="endAt" value="" /><br/>
                    </div>
                </div>
            </div>

            <p><em>Questions can be added after creating the event</em></p>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

