<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="title">Event Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="Enter event title">
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" name="description" class="form-control" id="description" placeholder="Enter event description">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label for="startdate">Start date</label>
                        <input type="text" name="startdate" class="form-control" id="startdate" placeholder="Start date">
                    </div>
                    <div class="col-6">
                        <label for="enddate">End date</label>
                        <input type="text" name="enddate" class="form-control" id="enddate" placeholder="End date">
                    </div>

                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th width="100">ID</th>
                        <th>Question title</th>
                        <th width="100"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Question 1</td>
                        <td><a href="#">remove</a></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Quesiton 2</td>
                        <td><a href="#">add</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>